<!DOCTYPE html>
<html lang="en">
<c:set var="root" value="${pageContext.servletContext.contextPath}" />

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Quản lý nhân viên</title>
    <style>
        label {
            display: block;
            font: 1rem 'Fira Sans', sans-serif;
        }

        input,
        label {
            margin: 0.4rem 0;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/frontend/public/src/styles/resources/quanly/css/styles.css" rel="stylesheet" />

    <link href="/frontend/public/src/styles/resources/table/table.css" rel="stylesheet" />
    <link href="/frontend/public/src/styles/resources/table/time.css" rel="stylesheet" />
    <link rel="icon" href="/frontend/public/src/styles/resources/img/logowebsite.png" type="image/png" />

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">

    <div id="chen"></div>
    <script>
        // Sử dụng Fetch API để tải nội dung file HTML và chèn vào vị trí div
        fetch('/frontend/public/src/common/quanly/header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('chen').innerHTML = data;
            })
            .catch(error => console.error('Error loading HTML:', error));
    </script>
    <style>
        #layoutSidenav_content {
            margin-left: 200px;
            margin-top: 100px;
        }
    </style>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="card-header">
                    <label class="font-weight-bold" style="font-size: 20px; color: #800000">QUẢN LÝ KẾT QUẢ TRẬN
                        ĐẤU</label>
                </div>
                <div class="card-header">

                    <!-- <div class="col-md-3">
                        <label class="font-weight-bold">Mã Vòng Đấu</label>
                        <select class="form-control" id="maVongDau" required>
                            <option value="">-- Chọn Vòng Đấu --</option>
                        </select>
                    </div> -->
                </div>
                <div class="card-header">
                    <form class="row mb-3" id="inputForm">
                        <!-- <div class="col-md-3">
                            <label class="font-weight-bold">Mã Kết Quả</label>
                            <input path="maKetQua" type="text" class="form-control" id="maKetQua" readonly required />
                        </div> -->
                        <!-- <div class="col-md-3">
                            <label class="font-weight-bold">Mã Trận Đấu</label>
                            <input path="maTranDau" type="text" class="form-control" id="maTranDau" required />
                        </div> -->
                        <div class="col-md-3">
                            <label class="font-weight-bold">Chọn Giải Đâu</label>
                            <select class="form-control" id="maGiaiDau" required>
                                <option value="">-- Chọn Giải Đấu --</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="font-weight-bold">Trận Đấu</label>
                            <select class="form-control" id="maTranDau" required>
                                <option value="">-- Chọn Trận Đấu --</option>
                            </select>
                        </div>

                        <!-- <div class="col-md-3">
                            <label class="font-weight-bold">Mã Đội Thắng</label>
                            <input path="maDoiThang" type="text" class="form-control" id="maDoiThang" required />
                        </div> -->
                        <div class="col-md-3">
                            <label class="font-weight-bold">Đội Thắng</label>
                            <select class="form-control" id="maDoiThang" >
                                <option value="">-- Chọn Đội Thắng --</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label class="font-weight-bold">Số Bàn Đội 1</label>
                            <input path="soBanDoi1" type="number" class="form-control" min="0" id="soBanDoi1" value="0"
                                required />
                        </div>

                        <div class="col-md-3">
                            <label class="font-weight-bold">Số Bàn Đội 2</label>
                            <input path="soBanDoi2" type="number" class="form-control" min="0" id="soBanDoi2" value="0"
                                required />
                        </div>



                        <div class="col-md-3">
                            <label class="font-weight-bold">Ghi Chú</label>
                            <input path="ghiChu" type="text" class="form-control" id="ghiChu" />
                        </div>

                        <div class='parent col-md-12 mt-3'>
                            <div class='child float-left-child'>
                                <button id="button_luu" class="btn btn-success">Lưu</button>
                                <button id="button_taiLaiTrang" class="btn btn-outline-dark" type="button">Tải Lại
                                    Trang</button>

                            </div>
                        </div>
                    </form>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i> DANH SÁCH KẾT QUẢ TRẬN ĐẤU

                    </div>
                    <div style="margin-left: 100px;">
                        <form:form class="row mb-3" modelAttribute="doiBongTrongBangEntity" action="" method="post">
                            <div class="col-md-3">
                                <label class="font-weight-bold">Giải Đấu</label>
                                <select class="form-control" id="maGiaiDau_chon_viewbody" required>
                                    <option value="All">-- Chọn giải đấu--</option>
                                </select>
                            </div>
                            <!-- <div class="col-md-3">
                                <label class="font-weight-bold">Chọn Kết Quả</label>
                                <select class="form-control" id="checkKetQua_chon_viewbody" required>
                                    <option value="co_kq">Có kết quả</option>
                                    <option value="chua_kq">Chưa kết quả</option>
                                </select>
                            </div> -->

                        </form:form>
                    </div>
                    <div class="card-body">
                        <table id="table">
                            <thead>
                                <tr>
                                    <!-- <th style="text-align: center;">Mã Kết Quả</th> -->
                                    <th style="text-align: center;">Giải Đấu</th>
                                    <th style="text-align: center;">Trận Đấu</th>

                                    <th style="text-align: center;">Đội Thắng</th>
                                    <th style="text-align: center;">Số Bàn Đội 1</th>
                                    <th style="text-align: center;">Số Bàn Đội 2</th>

                                    <th style="text-align: center;">Ghi Chú</th>
                                    <th style="text-align: center;">Sửa thông tin</th>
                                    <th style="text-align: center;">Xóa</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <!-- <th style="text-align: center;">Mã Kết Quả</th> -->
                                    <th style="text-align: center;">Giải Đấu</th>
                                    <th style="text-align: center;">Trận Đấu</th>

                                    <th style="text-align: center;">Đội Thắng</th>
                                    <th style="text-align: center;">Số Bàn Đội 1</th>
                                    <th style="text-align: center;">Số Bàn Đội 2</th>

                                    <th style="text-align: center;">Ghi Chú</th>
                                    <th style="text-align: center;">Sửa</th>
                                    <th style="text-align: center;">Xóa</th>
                                </tr>
                            </tfoot>
                            <tbody id="dataTable">
                                <!-- Dữ liệu sẽ được chèn vào đây bằng JavaScript -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2024</div>
                    <div>
                        <a href="#">Privacy Policy</a> &middot; <a href="#">Terms
                            &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        function confirmDelete() {
            if (window.confirm("Nhân viên hiện đang được cấp 1 tài khoản, xóa nhân viên sẽ dẫn đến xóa tài khoản. Bạn có muốn xóa?")) {
                // perform the delete action
            }
        }
    </script>
    <script src="/backend/services/doi_tuong/quanly_admin/tran_dau/ketQuaTranDau.js"></script>
    <script type="module" src="/backend/services/global/global.js"></script>
    <script type="module" src="/backend/services/global/hamChung.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <!-- <script src=" /public/src/styles/resources/quanly/js/scripts.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

    <script src="/frontend/public/src/styles/resources/quanly/js/datatables-simple-demo.js"></script>
</body>

</html>