<!DOCTYPE html>
<html lang="en">
<c:set var="root" value="${pageContext.servletContext.contextPath}" />

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Quản lý nhân viên</title>
    <style>
        label {
            display: block;
            font: 1rem 'Fira Sans', sans-serif;
        }

        input,
        label {
            margin: 0.4rem 0;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/frontend/public/src/styles/resources/quanly/css/styles.css" rel="stylesheet" />

    <link href="/frontend/public/src/styles/resources/table/table.css" rel="stylesheet" />
    <link href="/frontend/public/src/styles/resources/table/time.css" rel="stylesheet" />
    <link rel="icon" href="/frontend/public/src/styles/resources/img/logowebsite.png" type="image/png" />

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">

    <div id="chen"></div>
    <script>
        // Sử dụng Fetch API để tải nội dung file HTML và chèn vào vị trí div
        fetch('/frontend/public/src/common/quanly/header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('chen').innerHTML = data;
            })
            .catch(error => console.error('Error loading HTML:', error));
    </script>
    <style>
        #layoutSidenav_content {
            margin-left: 200px;
            margin-top: 100px;
        }
    </style>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="card-header">
                    <label class="font-weight-bold" style="font-size: 20px; color: #800000">Yêu Cầu Tham Gia
                        Giải</label>
                </div>
                <div class="card-header">
                    <form class="row mb-3" id="inputForm">
                        <!-- <div class="col-md-4">
                            <label class="font-weight-bold">Mã Giải Đấu</label>
                            <input type="text" class="form-control" id="maGiaiDau" required readonly />
                        </div> -->
                        <!-- <div class="col-md-4">
                            <label class="font-weight-bold">Mã Đội Bóng</label>
                            <input type="text" class="form-control" id="maDoiBong" required />
                        </div> -->

                        <div class="col-md-4">
                            <label class="font-weight-bold">Giải Đấu</label>
                            <select class="form-control" id="maGiaiDau" required>
                                <option value="">-- Chọn Giải Đấu--</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="font-weight-bold">Đội Bóng</label>
                            <select class="form-control" id="maDoiBong" required>
                                <option value="">-- Chọn Đội Bóng--</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="font-weight-bold">Trạng Thái</label>
                            <select class="form-control" id="trangThai">
                                <option value="Chờ duyệt">Chờ duyệt</option>
                                <option value="Đã duyệt">Đã duyệt</option>
                                <option value="Từ chối">Từ chối</option>
                            </select>
                        </div>
                        <div class="col-md-12 mt-3">
                            <label class="font-weight-bold">Lý Do Từ Chối (nếu có)</label>
                            <textarea class="form-control" id="lyDoTuChoi"></textarea>
                        </div>
                        <div class="col-md-12 mt-3">
                            <button id="button_luu" class="btn btn-success">Lưu</button>
                            <button id="button_taiLaiTrang" class="btn btn-outline-dark" type="button">Tải Lại
                                Trang</button>
                        </div>
                    </form>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i> DANH SÁCH YÊU CẦU THAM GIA
                        <button id="button_xemTD_sap_dien_ra" class="btn btn-primary float-end">Xem Yêu Cầu Gửi</button>
                        <!-- <button id="button_chua_kq" class="btn btn-danger float-end me-2">Trận đấu chưa kết quá</button> -->
                    </div>
                    <div style="margin-left: 100px;">
                        <form:form class="row mb-3" modelAttribute="doiBongTrongBangEntity" action="" method="post">
                            <div class="col-md-3">
                                <label class="font-weight-bold">Giải Đấu</label>
                                <select class="form-control" id="maGiaiDau_chon_viewbody" required>
                                    <option value="">-- Chọn Giải Đấu--</option>
                                </select>
                            </div>
                            

                        </form:form>
                    </div>

                    <div class="card-body">
                        <table id="table">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">Giải Đấu</th>
                                    <th style="text-align: center;">Đội Bóng</th>
                                    <th style="text-align: center;">Thời Gian Đăng Ký</th>
                                    <th style="text-align: center;">Trạng Thái</th>
                                    <th style="text-align: center;">Lý Do Từ Chối</th>
                                    <th style="text-align: center;">Sửa</th>
                                    <th style="text-align: center;">Xóa</th>
                                </tr>
                            </thead>
                            <tbody id="dataTable">
                                <!-- Dữ liệu sẽ được chèn vào đây bằng JavaScript -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </main>

        <!-- Bảng ẩn sẽ hiển thị khi người dùng nhấn nút -->
        <div id="popupOverlay" class="overlay hidden">
            <div class="popup-content">
                <h3>Danh sách Giải Đấu</h3>

                <div class="card-header">
                    <form class="row mb-3" id="inputForm_chon">
                        <div class="col-md-4">
                            <label class="font-weight-bold">Mã Giải Đấu</label>
                            <select class="form-control" id="maGiaiDau_chon" required>
                                <option value="All">Tất Cả</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="font-weight-bold">Trạng Thái</label>
                            <select path="trangThai" class="form-control" id="trangThai_chon">
                                <option value="All">Tất Cả</option>
                                <option value="Chờ duyệt">Chờ duyệt</option>
                                <option value="Đã duyệt">Đã duyệt</option>
                                <option value="Từ chối">Từ chối</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-md-12 mt-3">
                    <button id="button_duyet_tat_ca" class="btn btn-success">Duyệt Tất Cả</button>
                    <button id="closePopup" class="btn btn-secondary"
                        style="position: relative; top: -10px; left: 100px;">Đóng</button>

                </div>
                <!-- Popup xác nhận -->
                <div id="confirmModal" class="overlay hidden">
                    <div class="popup-content text-center">
                        <p>Bạn có chắc chắn muốn duyệt tất cả không?</p>
                        <button id="confirmYes" class="btn btn-success m-2">Có</button>
                        <button id="confirmNo" class="btn btn-danger m-2">Không</button>
                    </div>
                </div>


                <div class="card mb-4">
                    <table id="dataTable_chon">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Giải Đấu</th>
                                <th style="text-align: center;">Tên Giải Đấu</th>
                                <th style="text-align: center;">Tên Tổ Chức</th>
                                <th style="text-align: center;">Ngày Bắt Đầu</th>
                                <th style="text-align: center;">Ngày Kết Thúc</th>
                                <th style="text-align: center;">Giới Tính</th>
                                <th style="text-align: center;">Mô Tả</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Dữ liệu bảng sẽ được thêm vào đây -->
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <!-- Overlay hiển thị danh sách cầu thủ -->
        <div id="overlayCauThu" class="overlay hidden">
            <div class="popup-content">
                <h3 id="value_thongTinCT"></h3>
                <div class="col-md-12 mt-3">
                    <button id="btnChinhSua_cauThuThamGia" class="btn btn-primary" style="color: aqua;">Chỉnh danh sách
                        cầu thủ đá</button>
                    <button id="backToPopup" class="btn btn-secondary" style="left: 100px;">Quay lại</button>
                </div>

                <table style="margin-top: 25px;">
                    <thead>
                        <tr>
                            <!-- <th style="text-align: center;">Mã Đội Bóng</th> -->
                            <th style="text-align: center;">Họ Tên</th>
                            <th style="text-align: center;">Số Áo</th>
                            <th style="text-align: center;">Vị Trí</th>
                            <th style="text-align: center;">Hình Ảnh</th>
                            <th style="text-align: center;">Cầu Thủ Tham Gia</th>
                        </tr>
                    </thead>
                    <tbody id="playerListBody">
                        <!-- Dữ liệu sẽ được thêm bằng JS -->
                    </tbody>
                </table>
                <div class="text-end mt-3">
                    <button id="btn_luuThongTinCauThuDa" class="btn btn-secondary hidden">Lưu thông tin</button>
                </div>
            </div>
        </div>


        <style>
            /* Bảng ẩn mặc định */
            /* Kiểm tra xem lớp hidden có áp dụng đúng hay không */
            .hidden {
                display: none !important;
            }

            .overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                display: flex;
                justify-content: center;
                align-items: flex-start;
                /* Căn popup lên trên */
                z-index: 1000;
                overflow-y: auto;
                /* Cho phép cuộn nếu cần */
            }

            .popup-content {
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                width: 80%;
                max-width: 800px;
                margin-top: 100px;
                /* Cách mép trên 100px */
                margin-bottom: 40px;
                /* Lề dưới để tránh đụng đáy */
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            }


            /* Nút đóng */
            #closePopup {
                margin-top: 20px;
            }

            #confirmModal p {
                font-size: 18px;
                font-weight: bold;
            }
        </style>






        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2024</div>
                    <div>
                        <a href="#">Privacy Policy</a> &middot; <a href="#">Terms
                            &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        function confirmDelete() {
            if (window.confirm("Nhân viên hiện đang được cấp 1 tài khoản, xóa nhân viên sẽ dẫn đến xóa tài khoản. Bạn có muốn xóa?")) {
                // perform the delete action
            }
        }
    </script>

    <script src="/backend/services/doi_tuong/quanly_admin/giai_dau/dangKyThamGiaGiai.js"></script>
    <script type="module" src="/backend/services/global/global.js"></script>
    <script type="module" src="/backend/services/global/hamChung.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <!-- <script src=" /public/src/styles/resources/quanly/js/scripts.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

    <script src="/frontend/public/src/styles/resources/quanly/js/datatables-simple-demo.js"></script>
</body>

</html>