<!DOCTYPE html>
<html lang="en">
<c:set var="root" value="${pageContext.servletContext.contextPath}" />

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Quản lý nhân viên</title>
    <style>
        label {
            display: block;
            font: 1rem 'Fira Sans', sans-serif;
        }

        input,
        label {
            margin: 0.4rem 0;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/frontend/public/src/styles/resources/quanly/css/styles.css" rel="stylesheet" />

    <link href="/frontend/public/src/styles/resources/table/table.css" rel="stylesheet" />
    <link href="/frontend/public/src/styles/resources/table/time.css" rel="stylesheet" />
    <link rel="icon" href="/frontend/public/src/styles/resources/img/logowebsite.png" type="image/png" />

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">

    <div id="chen"></div>
    <script>
        // Sử dụng Fetch API để tải nội dung file HTML và chèn vào vị trí div
        fetch('/frontend/public/src/common/quanly/header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('chen').innerHTML = data;
            })
            .catch(error => console.error('Error loading HTML:', error));
    </script>
    <style>
        #layoutSidenav_content {
            margin-left: 200px;
            margin-top: 100px;
        }
    </style>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="card-header">
                    <label class="font-weight-bold" style="font-size: 20px; color: #800000">QUẢN LÝ TRỌNG TÀI</label>
                </div>
                <div class="card-header">
                    <form class="row mb-3" id="inputForm">
                        <div class="col-md-3">
                            <label class="font-weight-bold">Mã Trọng Tài</label>
                            <input path="maTrongTai" type="text" class="form-control" id="maTrongTai" required readonly/>
                        </div>
        
                        <div class="col-md-3">
                            <label class="font-weight-bold">Họ Tên</label>
                            <input path="hoTen" type="text" class="form-control" id="hoTen" required />
                        </div>
        
                        <div class="col-md-3">
                            <label class="font-weight-bold">Ngày Sinh</label>
                            <input path="ngaySinh" type="date" class="form-control" id="ngaySinh" required />
                        </div>
        
                        <div class="col-md-3">
                            <label class="font-weight-bold">Giới Tính</label>
                            <select path="maGioiTinh" class="form-control" id="maGioiTinh">
                                <option value="nam">Nam</option>
                                <option value="nữ">Nữ</option>
                            </select>
                        </div>
        
                        <!-- <div class="col-md-3">
                            <label class="font-weight-bold">Hình Ảnh Cũ</label>
                            <input path="hinhAnh" type="text" class="form-control" id="hinhAnh" readonly/>
                        </div>
                         -->
                         <div class="col-md-3">
                            <label class="font-weight-bold">Hình Ảnh</label>
                            <!-- Input hiển thị tên file hoặc URL ảnh -->
                            <input type="text" class="form-control" id="hinhAnh" readonly />
                            <!-- Input cho phép người dùng chọn file ảnh -->
                            <input type="file" class="form-control" id="hinhAnhFile" />
                        </div>
                        
                        
                        <!-- <div class="col-md-3">
                            <label class="font-weight-bold">Hình Ảnh</label>
                            <input type="text" class="form-control" id="hinhAnh" placeholder="Nhấp để chọn ảnh" readonly/>
                            <img id="previewImage" src="" alt="Xem trước ảnh" class="img-fluid mt-2" style="display: none;"/>
                        </div> -->
                        
        
                        <div class='parent col-md-12 mt-3'>
                            <div class='child float-left-child'>
                                <button id="button_luu" class="btn btn-success"  accept="image/*">Lưu</button>
                                <button id="button_taiLaiTrang" class="btn btn-outline-dark" type="button">Tải Lại
                                    Trang</button>
                            </div>
                        </div>
                    </form>
                </div>
        
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i> DANH SÁCH TRỌNG TÀI
                    </div>
                     <form:form class="row mb-3" modelAttribute="doiBongTrongBangEntity" action="" method="post">
                        <div class="col-md-3">
                            <label class="font-weight-bold">Chọn Giới Tính</label>
                            <select class="form-control" id="gioiTinh_chon_viewbody" required>
                                <option value="All">-- Tất cả --</option>
                                <option value="nam">Nam</option>
                                <option value="nữ">Nữ</option>
                            </select>
                        </div>
                        <!-- <div class="col-md-3">
                                <label class="font-weight-bold">Chọn Kết Quả</label>
                                <select class="form-control" id="checkKetQua_chon_viewbody" required>
                                    <option value="co_kq">Có kết quả</option>
                                    <option value="chua_kq">Chưa kết quả</option>
                                </select>
                            </div> -->

                    </form:form>
                    <div class="card-body">
                        <table id="table">
                            <thead>
                                <tr>
                                    <!-- <th style="text-align: center;">Mã Trọng Tài</th> -->
                                    <th style="text-align: center;">Họ Tên</th>
                                    <th style="text-align: center;">Ngày Sinh</th>
                                    <th style="text-align: center;">Giới Tính</th>
                                    <th style="text-align: center;">Hình Ảnh</th>
                                    <th style="text-align: center;">Sửa</th>
                                    <th style="text-align: center;">Xóa</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <!-- <th style="text-align: center;">Mã Trọng Tài</th> -->
                                    <th style="text-align: center;">Họ Tên</th>
                                    <th style="text-align: center;">Ngày Sinh</th>
                                    <th style="text-align: center;">Giới Tính</th>
                                    <th style="text-align: center;">Hình Ảnh</th>
                                    <th style="text-align: center;">Sửa</th>
                                    <th style="text-align: center;">Xóa</th>
                                </tr>
                            </tfoot>
                            <tbody id="dataTable">
                                <!-- Dữ liệu sẽ được chèn vào đây bằng JavaScript -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        
        
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2024</div>
                    <div>
                        <a href="#">Privacy Policy</a> &middot; <a href="#">Terms
                            &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        function confirmDelete() {
            if (window.confirm("Nhân viên hiện đang được cấp 1 tài khoản, xóa nhân viên sẽ dẫn đến xóa tài khoản. Bạn có muốn xóa?")) {
                // perform the delete action
            }
        }
    </script>
    <script src="/backend/services/doi_tuong/quanly_admin/trong_tai/trongTai.js"></script>
    <script type="module" src="/backend/services/global/global.js"></script>
    <script type="module" src="/backend/services/global/hamChung.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <!-- <script src=" /public/src/styles/resources/quanly/js/scripts.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

    <script src="/frontend/public/src/styles/resources/quanly/js/datatables-simple-demo.js"></script>
</body>

</html>